.has-tooltip {
  position: relative;

  .tooltip {
    background: rgb(var(--gradient-bright));
    position: absolute;
    visibility: hidden;
    bottom: calc(100% + .25rem);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    border-radius: .5rem;
    border: .25rem solid rgb(var(--border-color));
    padding: .5rem;
  }

  &:hover {
    background-color: rgb(var(--gradient-bright));

    .tooltip {
      visibility: visible;
    }
  }
}

.bg3-action-tooltip {
  display: flex;
  flex-direction: column;
  align-items: baseline !important;
  gap: 0 !important;
  position: relative;

  .name {
    font-size: 1.25rem;
    margin-right: 2rem;
  }

  .sub-name {
    color: rgb(var(--text-color-secondary));
    margin-bottom: 1rem;
    margin-right: 2rem;
  }

  .icon {
    position: absolute;
    background: transparent;
    width: 5rem;
    height: 5rem;
    right: -1.5rem;
    top: -1.5rem;
  }
}

.text-tooltip {
  width: max-content;
  max-width: 14rem;
  text-align: left;
  display: flex;
  justify-content: flex-start !important;
}

* {
  font-family: "Aldine 721 Bold BT";
}

input {
  font-size: 1rem;
  color: rgb(var(--text-color));
  background-color: rgb(var(--gradient-bright));
  border-radius: .5rem;
  border: .25rem solid rgb(var(--border-color));
  padding: .25rem .5rem;
  width: 10rem;
  max-width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: rgb(var(--text-color-secondary));
  }
}

label.text-input-label {
  background-color: rgb(var(--gradient-bright));
  position: relative;
  padding: .75rem .25rem .25rem .25rem;
  border-radius: .5rem;

  span {
    background-color: rgb(var(--gradient-bright));
    position: absolute;
    top: .25rem;
    left: 1rem;
    z-index: 1;
    padding: 0 .25rem;
    font-size: .825rem;
    color: rgb(var(--text-color-secondary));
  }
}
